<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Hotel T</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0
.0/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min
.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/p
opper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.
min.js"></script>
<link rel="stylesheet" href="./style.css">
</head>
<body>

	<header>
		<section class="header-icons-container">
			<div class="icons">
				<a href="#"><span class="flaticon-001-facebook"></span></a> <a
					href="#"><span class="flaticon-002-twitter"></span></a> <a href="#"><Span
					class="flaticon-011-instagram"></Span></a> <a href="#"><Span
					class="flaticon-010-linkedin"></Span></a> <a href="#"><Span
					class="flaticon-009-youtube"></Span></a>
			</div>
		</section>
		<nav>
			<section class="nav-logo-container">
				<a href="#"><img src="/images/Hotel.png"
					alt="logotipo-empresa"></a>
			</section>
			<section class="navegacion-link">
				<a href="#" style="color: #000000">Habitaciones</a>
				<form id="logoutform" method="get" enctype="multipart/form-data" th:action="@{/clientes/cerrarSesion}">
					<button type="submit" title="salir" name="salir">Cerrar sesion</button>
				</form>
			</section>
		</nav>
		
		 <!-- mensajes -->
        <div class="alert alert-danger alert-dismissable" th:if="${error != null}">
        	<label th:text="${error}"></label>
        	<button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
		
	</header>
	<br>
	<br>

	<br>
	<br>

	<form method="post" enctype="multipart/form-data"
		th:object="${clienteDto}">
		<div class="row mb-3">
			<label class="col-sm-4 col-form-label" style="color:#000000" >Bienvenido :</label>
			<div class="col-sm-8">
				<input readonly class="form-control-plaintext"
					th:value="${clienteDto.nombre}">
			</div>
		</div>
	</form>
	
	<div class="container">
		
		<h1 class="text-center my-4">Mis reservas</h1>

		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Fecha inicio</th>
					<th>Fecha fin</th>
					<th>ID habitacion</th>
					<th>Eliminar</th>
					<th>Editar</th>
				</tr>
			</thead>
			<tbody th:object="${reservas}">
				<tr th:each="reserva : ${reservas}">
					<td th:text="${reserva.id}"></td>
					<td th:text="${reserva.fechaInicio}"></td>
					<td th:text="${reserva.fechaFin}"></td>
					<td th:text="${reserva.habitacion.id}"></td>
					<td style="white-space: nowrap"><a
						class="btn btn-primary btn-sm"
						th:href="@{/reservas/eliminar(idHabitacion=${reserva.habitacion.id},idReserva=${reserva.id})}">Cancelar</a></td>
					<td style="white-space: nowrap"><a
						class="btn btn-primary btn-sm"
						th:href="@{/reservas/editar(idHabitacion=${reserva.habitacion.id},idReserva=${reserva.id})}">Editar</a></td>
				</tr>

			</tbody>
		</table>

	</div>

	<div class="container">
		
		<h1 class="text-center my-4">Habitaciones disponibles</h1>

		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>DISPONIBILIDAD</th>
					<th>NUMERO DE CAMAS</th>
					<th>NUMERO DE BAÑOS</th>

					<th>IMAGEN</th>
					<th>Accion</th>
				</tr>
			</thead>
			<tbody th:object="${clienteDto}">
				<tr th:each="habitacion : ${habitaciones}">
					<td th:text="${habitacion.id}"></td>
					<td th:text="${habitacion.disponibilidad}"></td>
					<td th:text="${habitacion.numeroCamas}"></td>
					<td th:text="${habitacion.numeroBanos}"></td>
					<td><img
						th:src="@{'/images/' +
						${habitacion.nombreArchivoImagen}}"
						alt="..." width="100"></td>
					<td style="white-space: nowrap"><a
						class="btn btn-primary btn-sm"
						th:href="@{/reservas/crear(id=${habitacion.id},cedula=${clienteDto.cedula})}">Reservar</a></td>
				</tr>

			</tbody>
		</table>

	</div>
	<footer>
		<p>©2024 Hotel T. Todos los derechos reservados.</p>
		<p>
			Contáctanos: <br> HotelT.Oficcialgmail.com
		</p>
	</footer>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
</body>
</html>